<div class="container">
    <div class="row">
        <div class="col-lg-9">
            <div class="header">

                <mat-icon style="margin: 5px;" (click)="onDelete()">delete</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onedit()">edit</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onForward()">visibility</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onBackward()">filter_list</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onSave()">save</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onPrint()">print</mat-icon>
            </div>
        </div>
   

    <div class="col-lg-3 col-md-3 col-sm-3">
        <label class="_btn" style="width: 100%;"> Home> Sales> Work Order </label>

    </div>
</div>

    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label>WO Type</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <select>
                <option *ngFor="let Indent of Indent">
                    {{ Indent }}
                </option>
            </select>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label>MachineNo.</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <select>
                <option *ngFor="let Machine of Machine">
                    {{ Machine }}
                </option>
            </select>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label>ItemNature</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <select>
                <option *ngFor="let Item of Item">
                    {{ Item }}
                </option>
            </select>
        </div>
    </div>
    <div class="row">

        <div class="col-lg-1 col-md-1 col-sm-1">
            <label>WO No.</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" />
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label>Date</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" placeholder="Datepicker" [bsConfig]="datepickerConfig" class="form-control" bsDatepicker
                [bsValue]="todate" />
        </div>
        <div class="col-lg-1 col-md-1 col-sm-1">
            <label>Remark</label>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <input type="text" />
        </div>
    </div>
    <div class="row">

        <div class="col-lg-1 col-md-1 col-sm-1">
            <label>ShiftIncharge</label>
        </div>
        <div class="col-lg-3">
            <select>
                <option *ngFor="let Shift of Shift">
                    {{ Shift }}
                </option>
            </select>
        </div>
    </div>
   
    <div class="container-table">
        <table class="table">
    
            <tr>
                <td> #</td>
                <td>Item Name</td>
                <td>GSM</td>
                <td>BF</td>
                <td>Size Unit</td>
                <td>Width</td>
                <td>Length</td>
                <td>Grain</td>
                <td>Reel</td>
                <td>Weight</td>
                <td>SKU</td>
             
            </tr>
    
            <tr *ngFor="let item of Data">
                <td>{{item.id}}</td>
                <td>{{item.ItemName}}</td>
                <td>{{item.GSM}}</td>
                <td>{{item.BF}}</td>
                <td>{{item.SizeUnit}}</td>
                <td>{{item.Width}}</td>
                <td>{{item.Length}}</td>
                <td>{{item.Grain}}</td>
                <td>{{item.Reel}}</td>
                <td>{{item.Weight}}</td>
                <td>{{item.SKU}}</td>
                
    
            </tr>
        </table>
    </div>
    

    <div class="row ">
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label class="allfooter"> Prepared By & Date</label>
            <input type="text" id="allfooter" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label class="allfooter"> Modified By & Date</label>
            <input type="text" id="allfooter" />
        </div>
        <div class="col-lg-3 col-md-3 col-sm-3"></div>
        <div class="col-lg-3 col-md-3 col-sm-3">
            <label class="allfooter">Approved By & Date</label>
            <input type="text" id="allfooter" />
        </div>

    </div>
</div>