.container {
  border: 1px solid #333;
  background-color: lightgrey;
  padding: 20px;
}

.login-div {
  border: 1px solid;
  border-radius: 10px 10px 10px 10px;
  padding: 20px 20px 20px 20px;
  background-color: white;
  height: 300px;
}

.btn {
  width: 100%;
  float: center;
  border: 1px solid #04888d;
  border-radius: 12px 12px;
  font-size: 15px;
  color: azure;
  background-color: #04888d;
  text-decoration: solid;

}

.footer {
  padding-top: 130px;
}

.header {
  padding: 6px 6px 6px 0;
  width: 100%;
  float: center;
  border: 1px solid #04888d;
  text-align: center;
  font-size: 20px;
  color: #f7e4e4;
  background-color: #71ced1;
}