<div class="container">
    <form class="gate-entry" [formGroup]="GateForm" (ngSubmit)="submit()">
        <div class="row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                <div class="header">

                    <mat-icon style="margin: 5px;" (click)="onAdd()">add</mat-icon>
                    <mat-icon style="margin: 5px;" (click)="onDelete()">delete</mat-icon>
                    <mat-icon style="margin: 5px;" (click)="onedit(id)">edit</mat-icon>
                    <mat-icon style="margin: 5px;" (click)="onForward()">visibility</mat-icon>
                    <mat-icon style="margin: 5px;" (click)="onBackward()">filter_list</mat-icon>
                    <mat-icon style="margin: 5px;" (click)="onSave()">save</mat-icon>
                    <mat-icon style="margin: 5px;" (click)="onPrint()">print</mat-icon>

                </div>

            </div>

            <div class="col-lg-4 col-md-4 col-sm-4">
                <label class="_btn">Home> Gate Management> Gate Entry </label>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-1 ">
                <label>VoucherType</label>
            </div>
            <div class="col-lg-2">
                <select formControlName="Gate">
                    <option *ngFor="let Gate of Gate">
                        {{ Gate }}
                    </option>
                </select>

            </div>
            <div class="col-lg-1">

                <label>Entry No</label>
            </div>
            <div class="col-lg-2">
                <input type="text" formControlName="entryNo" />
            </div>

            <div class="col-lg-1">
                <label>Vehicle</label>
            </div>
            <div class="col-lg-2">

                <select formControlName="Vehicle">
                    <option *ngFor="let Vehicle of Vehicle">
                        {{ Vehicle }}
                    </option>
                </select>

            </div>

            <div class="col-lg-1">
                <label>VehicleNo</label>
            </div>
            <div class="col-lg-2">
                <input type="text" formControlName="vehicleNo" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-1">
                <label>PartyName</label>
            </div>
            <div class="col-lg-2">
                <input type="text" formControlName="partyName" />
            </div>

            <div class="col-lg-1">
                <label>DriverName</label>
            </div>
            <div class="col-lg-2">
                <input type="text" formControlName="driverName" />
            </div>

            <div class="col-lg-1">
                <label>Date</label>
            </div>
            <div class="col-lg-2">
                <input type="date" formControlName="date" />
            </div>
            <div class="col-lg-1">
                <label>Time</label>
            </div>
            <div class="col-lg-2">
                <input type="time" formControlName="time" />
            </div>

        </div>

        <div class="row">
            <div class="col-lg-1">
                <label>Purpose</label>
            </div>
            <div class="col-lg-2">
                <select formControlName="Purpose">
                    <option *ngFor="let Purpose of Purpose">
                        {{Purpose}}
                    </option>
                </select>
            </div>

            <div class="col-lg-1">
                <label>Weighment</label>
            </div>
            <div class="col-lg-2">

                <select formControlName="Weighment">
                    <option *ngFor="let Weighment of Weighment">
                        {{ Weighment }}
                    </option>
                </select>

            </div>

            <div class="col-lg-1">
                <label>Single</label>
            </div>
            <div class="col-lg-2">
                <select formControlName="Single">
                    <option *ngFor="let Single of Single">
                        {{Single}}
                    </option>
                </select>
            </div>

            <div class="col-lg-1">
                <label>Transporter</label>
            </div>
            <div class="col-lg-2">


                <select formControlName="Transporter">
                    <option value="">Transporter</option>
                    <option *ngFor="let Transporter of Transporter">
                        {{ Transporter }}
                    </option>
                </select>

            </div>

        </div>

        <div class="container-table">
            <table class="table">

                <tr>
                    <td> #</td>
                    <td>Item Description</td>
                    <td>Quantity</td>
                    <td>Remarks</td>
                </tr>

                <tr *ngFor="let item of Data">
                    <td>{{item.id}}</td>
                    <td>{{item.ItemDescription}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{item.Remarks}}</td>

                </tr>
            </table>
        </div>

        <div class="row">
            <div class="col-lg-1">
                <label>Remark</label>
            </div>
            <div class="col-lg-2">
                <input type="text" formControlName="remark" />
            </div>

            <div class="col-lg-1">
                <label>Gross Wt</label>
            </div>
            <div class="col-lg-2">
                <select formControlName="Gross">
                    <option *ngFor="let Gross of Gross ">
                        {{Gross}}
                    </option>
                </select>
            </div>

            <div class="col-lg-1">
                <label>Tare Wt</label>
            </div>
            <div class="col-lg-2">

                <select formControlName="Tare">
                    <option *ngFor="let Tare  of Tare  ">
                        {{Tare }}
                    </option>
                </select>
            </div>

            <div class="col-lg-1">
                <label>Net Wt</label>
            </div>
            <div class="col-lg-2">
                <select>
                    <option *ngFor="let Net of Net ">
                        {{Net}}
                    </option>
                </select>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-1">
                <label>Slip No</label>
            </div>
            <div class="col-lg-2">
                <input type="text" formControlName="slipno">
            </div>

            <div class="col-lg-1">
                <label>Out Date</label>
            </div>
            <div class="col-lg-2">
                <input type="date" formControlName="outdate" />
            </div>
            <div class="col-lg-1">
                <label>Time</label>
            </div>
            <div class="col-lg-2">
                <input type="time" formControlName="time" />
            </div>
            <div class="col-lg-3"></div>
        </div>



        <div class="row ">
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label class="allfooter"> Prepared By & Date</label>
                <input type="text" id="allfooter" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label class="allfooter"> Modified By & Date</label>
                <input type="text" id="allfooter" formControlName="Modified" />
            </div>
            <div class="col-lg-3 col-md-3 col-sm-3"></div>
            <div class="col-lg-3 col-md-3 col-sm-3">
                <label class="allfooter"> Gate Out By </label>
                <input type="text" id="allfooter" />
            </div>

        </div>
    </form>
</div>