<div class="container">
    <div class="row">
        <div class="col-lg-8">
            <div class="header">
                <mat-icon style="margin: 5px;" (click)="onDelete()">delete</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onedit()">edit</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onForward()">visibility</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onBackward()">filter_list</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onSave()">save</mat-icon>
                <mat-icon style="margin: 5px;" (click)="onPrint()">print</mat-icon>
            </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4">
            <label class="_btn"> Home > financial Accounting > Contra Voucher </label>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <label>Voucher Type</label>
        </div>
        <div class="col-lg-4">
            <select>
                <option *ngFor="let Voucher of Voucher">
                    {{ Voucher }}
                </option>
            </select>
        </div>
        <div class="col-lg-1">
            <label>Ref No.</label>
        </div>
        <div class="col-lg-2"> <input type="text" />
        </div>
        <div class="col-lg-1">
            <label>Date</label>
        </div>
        <div class="col-lg-2"> <input type="text" />
        </div>

    </div>
    <div class="row">
        <div class="col-lg-2">
            <label>Vr No.</label>
        </div>
        <div class="col-lg-2">
            <input type="Text" />
        </div>
        <div class="col-lg-2">

        </div>

        <div class="col-lg-1">
            <label>Date</label>
        </div>
        <div class="col-lg-2">
            <input type="Text" />
        </div>

        <div class="col-lg-3">

        </div>

    </div>

    <div class="row">
        <div class="col-lg-2">
            <label>Cost Center</label>
        </div>
        <div class="col-lg-4">
            <select>
                <option *ngFor="let CostCenter of CostCenter">
                    {{ CostCenter }}
                </option>
            </select>
        </div>
        <div class="col-lg-1">
            <label>Remark</label>
        </div>
        <div class="col-lg-5">
            <input type="text" />
        </div>

    </div>


    <div class="container-table">
        <table class="table">

            <tr>
                <td> #</td>
                <td>A/c Code</td>
                <td>A/c Name</td>
                <td>Narration</td>
                <td>Debit</td>
                <td>Credit</td>
            </tr>

            <tr *ngFor="let item of Data">
                <td>{{item.AcCode}}</td>
                <td>{{item.AcName}}</td>
                <td>{{item.Narration}}</td>
                <td>{{item.Debit}}</td>
                <td>{{item.Credit}}</td>

            </tr>
        </table>
    </div>


    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">
        <label class="form-check-label" for="inlineRadio1">All</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
        <label class="form-check-label" for="inlineRadio2">Posted</label>
    </div>
    <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3">
        <label class="form-check-label" for="inlineRadio3">Un-Posted </label>
    </div>

    <div class="row ">
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label class="allfooter"> Prepared By </label>
            <input type="text" id="allfooter" />
        </div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label class="allfooter"> Modified By</label>
            <input type="text" id="allfooter" />
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6"></div>
        <div class="col-lg-2 col-md-2 col-sm-2">
            <label class="allfooter"> Approved By </label>
            <input type="text" id="allfooter" />
        </div>

    </div>

</div>